<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">
k
<menu id="root-menu" label="Openbox 3">
  <item label="Terminal emulator">
    <action name="Execute"><execute>x-terminal-emulator</execute></action>
  </item>
  <item label="Web browser">
    <action name="Execute"><execute>x-www-browser</execute></action>
  </item>

  <menu id="Applications" label="Applications">
    <item label='MySQL Workbench'>
      <action name='Execute'><execute>/usr/bin/mysql-workbench</execute></action>
    </item>
    <item label='Shutter'>
      <action name='Execute'><execute>/usr/bin/shutter</execute></action>
    </item>
    <item label='Skype'>
      <action name='Execute'><execute>/usr/bin/skype</execute></action>
    </item>
    <item label='Spotify'>
      <action name='Execute'><execute>/usr/bin/spotify</execute></action>
    </item>
    <item label='Sublime Text'>
      <action name='Execute'><execute>/usr/local/bin/sublime_text</execute></action>
    </item>
  </menu>

  <!-- This requires the presence of the 'menu' package to work -->
  <menu id="/Debian" />
    <separator />
  <menu id="client-list-menu" />
  <separator />
  <item label="ObConf">
    <action name="Execute"><execute>obconf</execute></action>
  </item>
  <item label="ObMenu">
    <action name="Execute"><execute>obmenu</execute></action>
  </item>
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Restart">
    <action name="Restart" />
  </item>
  <separator />
  <item label="Exit">
    <action name="Exit" />
  </item>
</menu>

</openbox_menu>
